<nav class="c-topbar c-topbar--responsive">
    <input type="checkbox" name="menu-icon" class="c-menu-icon c-menu-icon--checkbox" id="menu-icon">
    <label for="menu-icon" class="c-menu-icon c-menu-icon--label">
        <span></span>
    </label>
    <div class="c-backdrop"></div>
    <div class="c-topbar__menu">
        <div class="c-topbar__title">
            <a class="c-topbar__logo" href="#"><strong>UI Kit Guide Style</strong></a>
        </div>
        <div id="topbar-responsive" class="c-topbar__links">
            <div class="c-topbar-right">
                <ul class="c-menu c-menu--simple c-menu--vertical c-menu--medium-horizontal">
                    <li><a href="/">Home</a></li>
                    <li><a href="building-blocks.html">Building Block</a></li>
                    <li><a href="music.html">Music Game</a></li>
                    <li><a href="colors.html">Colors</a></li>
                    <li>
                        <div class="c-dropdown c-dropdown--bottom c-dropdown--left">
                            <input type="checkbox" class="c-dropdown__toggle" id="dropdownMenu4" data-toggle="dropdown"
                                aria-haspopup="true" aria-checked="true">
                            <label class="c-button c-button--outline c-button--topbar" for="dropdownMenu4"
                                data-toggle="dropdown"><span class="c-caret c-caret--left"></span>Categories</label>
                            <ul class="c-dropdown__menu" aria-labelledby="dropdownMenu4">
                                <li><a href="#0">Action</a></li>
                                <li><a href="#0">Another action</a></li>
                                <li><a href="#0">Something else here</a></li>
                                <li role="separator" class="c-separator"></li>
                                <li><a href="#0">Separated link</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>