<section class="c-section">
    <h2>Switch</h2>
    <h5>Regular</h5>
    <div class="c-switch">
        <label for="switch_$1" class="c-switch__label">
            <input type="checkbox" id="switch_$1">
            <span class="c-switch__check"></span>
            Small Switch
        </label>
    </div>
    <h5>Large</h5>
    <div class="c-switch c-switch--large">
        <label for="switch_$2" class="c-switch__label">
            <input type="checkbox" id="switch_$2">
            <span class="c-switch__check"></span>
            Large Switch
        </label>
    </div>
</section>
