<section class="c-section">
    <h2>Hero</h2>
    <div class="c-hero">
        <h2 class="h1 c-hero__title">Hello, world!</h2>
        <div class="c-hero__background"><img src="http://placekitten.com/800/600" alt=""></div>
        <p class="c-hero__lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr>
        <div class="c-hero__body">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab ipsa saepe neque ad in alias aperiam quos itaque, veritatis cum eos molestias libero aliquam sed, consectetur id? Magni, id non?.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, veniam. Culpa dolorem error laborum sit dicta quisquam hic? Asperiores ratione quam, est perspiciatis unde voluptatem enim nesciunt mollitia aliquam earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque soluta harum repellat cupiditate. Totam quos cum impedit aut ratione repellat dignissimos atque quisquam quod eius aliquid nisi, sequi cupiditate modi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, ipsum voluptates incidunt debitis, reprehenderit totam eaque, ipsa adipisci deleniti impedit sit culpa accusamus odio iste facilis excepturi a quod dolorum.</p>
            <a class="c-button c-button--primary c-button--large" href="#" role="button">Learn more</a>
        </div>
    </div>
</section>
