<section class="c-section">
    <h2>Radio</h2>
    <hr class="c-separator">
    <div class="c-radio-container">
        <div class="c-radio">
            <label for="l-option" class="l-radio">
                <input type="radio" id="l-option" name="selector" tabindex="1">
                <span>First</span>
            </label>
        </div>
        <div class="c-radio">
            <label for="f-option" class="c-radio_label">
                <input type="radio" id="f-option" name="selector" tabindex="1">
                <span>Second</span>
            </label>
        </div>
    </div>
</section>