<section class="c-section">
    <h2>Palettes</h2>
    <div class="c-palette">
        <span class="c-badge c-badge--large">❤️</span>
        <div class="c-palette__heading">
            <div class="c-palette__title c-palette__title--1">#FE7852</div>
            <div class="c-palette__title c-palette__title--2">#604AB0</div>
            <div class="c-palette__title c-palette__title--3">#F9D07A</div>
            <div class="c-palette__title c-palette__title--4">#FD97AD</div>
        </div>
        <div class="c-palette__body">
            <div class="c-palette__item c-palette__item--1" style="background-color:#FE7852"></div>
            <div class="c-palette__item c-palette__item--2" style="background-color:#604AB0"></div>
            <div class="c-palette__item c-palette__item--3" style="background-color:#F9D07A"></div>
            <div class="c-palette__item c-palette__item--4" style="background-color:#FD97AD"></div>
        </div>
    </div>
    <div class="c-palette">
        <div class="c-palette__heading">
            <div class="c-palette__title c-palette__title--1">#B0B4C7</div>
            <div class="c-palette__title c-palette__title--2">#ECD0C8</div>
            <div class="c-palette__title c-palette__title--3">#D49CA7</div>
            <div class="c-palette__title c-palette__title--4">#2E4B7C</div>
        </div>
        <div class="c-palette__body">
            <div class="c-palette__item c-palette__item--1" style="background-color:#B0B4C7"></div>
            <div class="c-palette__item c-palette__item--2" style="background-color:#ECD0C8"></div>
            <div class="c-palette__item c-palette__item--3" style="background-color:#D49CA7"></div>
            <div class="c-palette__item c-palette__item--4" style="background-color:#2E4B7C"></div>
        </div>
    </div>
    <div class="c-palette">
        <div class="c-palette__heading">
            <div class="c-palette__title c-palette__title--1">#FB8D8C</div>
            <div class="c-palette__title c-palette__title--2">#9F97DD</div>
            <div class="c-palette__title c-palette__title--3">#EBE81F</div>
            <div class="c-palette__title c-palette__title--4">#000C36</div>
        </div>
        <div class="c-palette__body">
            <div class="c-palette__item c-palette__item--1" style="background-color:#FB8D8C"></div>
            <div class="c-palette__item c-palette__item--2" style="background-color:#9F97DD"></div>
            <div class="c-palette__item c-palette__item--3" style="background-color:#EBE81F"></div>
            <div class="c-palette__item c-palette__item--4" style="background-color:#000C36"></div>
        </div>
    </div>
    <div class="c-palette">
        <div class="c-palette__heading">
            <div class="c-palette__title c-palette__title--1">#DF7540</div>
            <div class="c-palette__title c-palette__title--2">#1E1E1E</div>
            <div class="c-palette__title c-palette__title--3">#EFBA99</div>
            <div class="c-palette__title c-palette__title--4">#784D40</div>
        </div>
        <div class="c-palette__body">
            <div class="c-palette__item c-palette__item--1" style="background-color:#DF7540"></div>
            <div class="c-palette__item c-palette__item--2" style="background-color:#1E1E1E"></div>
            <div class="c-palette__item c-palette__item--3" style="background-color:#EFBA99"></div>
            <div class="c-palette__item c-palette__item--4" style="background-color:#784D40"></div>
        </div>
    </div>
    <div class="c-palette">
        <div class="c-palette__heading">
            <div class="c-palette__title c-palette__title--1">#0084D0</div>
            <div class="c-palette__title c-palette__title--2">#075095</div>
            <div class="c-palette__title c-palette__title--3">#F7D963</div>
            <div class="c-palette__title c-palette__title--4">#E9A30E</div>
        </div>
        <div class="c-palette__body">
            <div class="c-palette__item c-palette__item--1" style="background-color:#0084D0"></div>
            <div class="c-palette__item c-palette__item--2" style="background-color:#075095"></div>
            <div class="c-palette__item c-palette__item--3" style="background-color:#F7D963"></div>
            <div class="c-palette__item c-palette__item--4" style="background-color:#E9A30E"></div>
        </div>
    </div>
    <div class="c-palette">
        <div class="c-palette__heading">
            <div class="c-palette__title c-palette__title--1">#a578df</div>
            <div class="c-palette__title c-palette__title--2">#b5d2fe</div>
            <div class="c-palette__title c-palette__title--3">#8BF2C7</div>
            <div class="c-palette__title c-palette__title--4">#FFB4AA</div>
        </div>
        <div class="c-palette__body">
            <div class="c-palette__item c-palette__item--1" style="background-color:#a578df"></div>
            <div class="c-palette__item c-palette__item--2" style="background-color:#b5d2fe"></div>
            <div class="c-palette__item c-palette__item--3" style="background-color:#8BF2C7"></div>
            <div class="c-palette__item c-palette__item--4" style="background-color:#FFB4AA"></div>
        </div>
    </div>
    <div class="c-palette">
        <div class="c-palette__heading">
            <div class="c-palette__title c-palette__title--1">#F3C42E</div>
            <div class="c-palette__title c-palette__title--2">#7897B4</div>
            <div class="c-palette__title c-palette__title--3">#D3B592</div>
            <div class="c-palette__title c-palette__title--4">#E13272</div>
        </div>
        <div class="c-palette__body">
            <div class="c-palette__item c-palette__item--1" style="background-color:#F3C42E"></div>
            <div class="c-palette__item c-palette__item--2" style="background-color:#7897B4"></div>
            <div class="c-palette__item c-palette__item--3" style="background-color:#D3B592"></div>
            <div class="c-palette__item c-palette__item--4" style="background-color:#E13272"></div>
        </div>
    </div>
    <div class="c-palette">
        <div class="c-palette__heading">
            <div class="c-palette__title c-palette__title--1">#385DAB</div>
            <div class="c-palette__title c-palette__title--2">#A95CA2</div>
            <div class="c-palette__title c-palette__title--3">#FCB13E</div>
            <div class="c-palette__title c-palette__title--4">#E64A58</div>
        </div>
        <div class="c-palette__body">
            <div class="c-palette__item c-palette__item--1" style="background-color:#385DAB"></div>
            <div class="c-palette__item c-palette__item--2" style="background-color:#A95CA2"></div>
            <div class="c-palette__item c-palette__item--3" style="background-color:#FCB13E"></div>
            <div class="c-palette__item c-palette__item--4" style="background-color:#E64A58"></div>
        </div>
    </div>
    <div class="c-palette">
        <div class="c-palette__heading">
            <div class="c-palette__title c-palette__title--1">#D8EFF7</div>
            <div class="c-palette__title c-palette__title--2">#F9CD68</div>
            <div class="c-palette__title c-palette__title--3">#71B5AA</div>
            <div class="c-palette__title c-palette__title--4">#FCD7E9</div>
            <span class="c-badge c-badge--large">🔥</span>
        </div>
        <div class="c-palette__body">
            <div class="c-palette__item c-palette__item--1" style="background-color:#D8EFF7"></div>
            <div class="c-palette__item c-palette__item--2" style="background-color:#F9CD68"></div>
            <div class="c-palette__item c-palette__item--3" style="background-color:#71B5AA"></div>
            <div class="c-palette__item c-palette__item--4" style="background-color:#FCD7E9"></div>
        </div>
    </div>
</section>
