.c-palette {
    $borrad: 16px;
    margin-bottom: 60px;
    padding-top: 20px;
    position: relative;
    font: 600 14px/1.2 Segoe, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    &__body {
        height: 200px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        border-radius: $borrad;
    }

    &__item {
        $borrad: $borrad - 3;
        box-sizing: border-box;
        width: calc(100% / 4);
        &:first-child { border-radius: $borrad 0 0 $borrad; }
        &:last-child { border-radius: 0 $borrad $borrad 0; }
    }

    &__title {
        text-transform: uppercase;
        width: calc(100% / 4);
        text-align: center;
    }
}
