<section class="c-section">
    <h2>Button groups</h2>
    <h4>Rounded</h4>
    <div class="c-button-group c-button-group--rounded">
        <div class="c-button-group__radio">
            <input id="radio_btn_$1" name="radio_btn" type="radio" checked/>
            <label for="radio_btn_$1">Option #1</label>
        </div>
        <div class="c-button-group__radio">
            <input id="radio_btn_$3" name="radio_btn" type="radio" />
            <label for="radio_btn_$3">Option #2</label>
        </div>
        <div class="c-button-group__radio">
            <input id="radio_btn_$4" name="radio_btn" type="radio" />
            <label for="radio_btn_$4">Option #3</label>
        </div>
    </div>
    <hr>
    <h4>Border-less</h4>
    <div class="c-button-group c-button-group--noborder">
        <div class="c-button-group__radio">
            <input id="radio_btn_$56" name="radio_btn_aa" type="radio" checked/>
            <label for="radio_btn_$56">Plan #1</label>
        </div>
        <div class="c-button-group__radio">
            <input id="radio_btn_$76" name="radio_btn_aa" type="radio" />
            <label for="radio_btn_$76">Plan #2</label>
        </div>
    </div>

    <hr>
    <h4>Regular</h4>
    <div class="c-button-group">
        <div class="c-button-group__radio"><input type="radio" name="radio_btn_2" id="radio_btn_%1_1"><label for="radio_btn_%1_1">Option #1</label></div>
        <div class="c-button-group__radio"><input type="radio" name="radio_btn_2" id="radio_btn_%1_2"><label for="radio_btn_%1_2">Option #2</label></div>
        <div class="c-button-group__radio"><input type="radio" name="radio_btn_2" id="radio_btn_%1_3" checked><label for="radio_btn_%1_3">Option #3</label></div>
        <div class="c-button-group__radio"><input type="radio" name="radio_btn_2" id="radio_btn_%1_4" checked><label for="radio_btn_%1_4">Option #4</label></div>
    </div>
</section>
