<section class="c-section">
    <h2>Colors</h2>

    <div class="canvas canvas_1"></div>
    <div class="canvas canvas_2"></div>
    <div class="canvas canvas_3"></div>
    <div class="canvas canvas_4"></div>
    <div style="padding-left: 104px;">
        <div class="canvas canvas_2_comp"></div>
        <div class="canvas canvas_3_comp"></div>
        <div class="canvas canvas_4_comp"></div>
    </div>
    <div style="padding-left: 104px;">
        <div class="canvas canvas_2_comp_adj_1"></div>
        <div class="canvas canvas_2_comp_adj_2"></div>
    </div>
</section>
