<section class="c-section">
    <h2>Progress bar</h2>
    <div class="c-progress c-progress--orange c-progress--rounded">
        <span style="width: 33.3%">33.3%</span>
    </div>
    <div class="c-progress c-progress--blue">
        <span style="width: 53.3%">53.3%</span>
    </div>
    <div class="c-progress c-progress--red c-progress--striped">
        <span style="width: 73.3%">73.3%</span>
    </div>
    <!-- the subelement span is mandatory for animation -->
    <div class="c-progress c-progress--green c-progress--striped c-progress--animate c-progress--rounded">
        <span style="width: 95%"><span></span>95%</span>
    </div>
</section>
