<section class="c-section c-section--light u-p(base)">
    <h2>Shadows</h2>
    <div class="u-d(flex) u-jc(space-around) u-fxd(row) u-fxw(wrap)">
        <div class="c-box">
            <h5>Default (ugly) shadow</h5>
            <div class="c-box__item u-shadow u-shadow--default"></div>
        </div>
        <div class="c-box">
            <h5>Soft shadow</h5>
            <div class="c-box__item u-shadow u-shadow--soft"></div>
        </div>
        <div class="c-box">
            <h5>Natural shadow</h5>
            <div class="c-box__item u-shadow u-shadow--natural"></div>
        </div>
        <div class="c-box">
            <h5>Smooth shadow</h5>
            <div class="c-box__item u-shadow u-shadow--smooth"></div>
        </div>
    </div>
</section>