<section class="c-section">
    <h2>Collapse</h2>
    <hr>
    <details class="c-collapse">
        <summary class="c-collapse__title">Lorem ispum</summary>
        <div class="c-collapse__body"> Bacon ipsum dolor amet cupim sirloin ham pig, chuck filet
            mignon corned beef kielbasa brisket spare ribs rump swine ribeye. Landjaeger rump leberkas pork cow ribeye short
            loin filet mignon sirloin drumstick shoulder pork chop meatloaf. Andouille filet mignon jerky pork chop, doner
            tail tri-tip pork bresaola turkey shankle meatball. Pork chop beef shankle strip steak sausage burgdoggen pork
            belly.
        </div>
    </details>
    <details class="c-collapse">
        <summary class="c-collapse__title">Lorem ispum</summary>
        <div class="c-collapse__body"> Bacon ipsum dolor amet cupim sirloin ham pig, chuck filet
            mignon corned beef kielbasa brisket spare ribs rump swine ribeye. Landjaeger rump leberkas pork cow ribeye short
            loin filet mignon sirloin drumstick shoulder pork chop meatloaf. Andouille filet mignon jerky pork chop, doner
            tail tri-tip pork bresaola turkey shankle meatball. Pork chop beef shankle strip steak sausage burgdoggen pork
            belly.
        </div>
    </details>
    <details class="c-collapse">
        <summary class="c-collapse__title">Lorem ispum</summary>
        <div class="c-collapse__body"> Bacon ipsum dolor amet cupim sirloin ham pig, chuck filet
            mignon corned beef kielbasa brisket spare ribs rump swine ribeye. Landjaeger rump leberkas pork cow ribeye short
            loin filet mignon sirloin drumstick shoulder pork chop meatloaf. Andouille filet mignon jerky pork chop, doner
            tail tri-tip pork bresaola turkey shankle meatball. Pork chop beef shankle strip steak sausage burgdoggen pork
            belly.
        </div>
    </details>
</section>
