<h1 class="u-ta(center) u-my(lg)">UI Kit Guide Style</h1>
<hr>
<h2 class="u-ta(center) u-my(base)">Components</h2>
<!--
    - Button group
    - Carousel
    - Input group
    - List group
    - Media object
    - Modal
    - Pagination
    - Scrollspy
    - Toasts
 -->
<!-- @@include ./_titles/_titles.html -->
<!-- @@include ./_alert/_alert.html -->
<!-- @@include ./_separator/_separator.html -->
<!-- @@include ./_button/_button.html -->
<!-- @@include ./_checkbox/_checkbox.html -->
<!-- @@include ./_radio/_radio.html -->
<!-- @@include ./_label/_label.html -->
<!-- @@include ./_badge/_badge.html -->
<!-- @@include ./_card/_card.html -->
<!-- @@include ./_collapse/_collapse.html -->
<!-- @@include ./_spinner/_spinner.html -->
<!-- @@include ./_tooltip/_tooltip.html -->
<!-- @@include ./_progress/_progress.html -->
<!-- @@include ./_breadcrumb/_breadcrumb.html -->
<!-- @@include ./_dropdown/_dropdown.html -->
<!-- @@include ./_switch/_switch.html -->
<!-- @@include ./_button-group/_button-group.html -->
<!-- @@include ./_shadows/_shadows.html -->