<section class="c-section">
    <h2>Cards</h2>
    <div class="c-card-group">
        <div class="c-card c-card--rounded c-card--shadow">
            <img src="https://via.placeholder.com/150" class="c-card__img c-card__img--top" alt="...">
            <div class="c-card__body">
                <h5 class="c-card__title">Card with shadow</h5>
                <p class="c-card__text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="c-button c-button--primary">Go somewhere</a>
            </div>
        </div>
        <div class="c-card">
            <img src="https://via.placeholder.com/150" class="c-card__img c-card__img--top" alt="...">
            <div class="c-card__body">
                <h5 class="c-card__title">Card Regular</h5>
                <p class="c-card__text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="c-button c-button--primary">Go somewhere</a>
            </div>
        </div>
        <div class="c-card c-card--rounded">
            <img src="https://via.placeholder.com/150" class="c-card__img c-card__img--top" alt="...">
            <div class="c-card__body">
                <h5 class="c-card__title">Card Rounded</h5>
                <p class="c-card__text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="c-button c-button--primary">Go somewhere</a>
            </div>
        </div>

    </div>
</section>
