<section class="c-section">
    <h2>Alert</h2>
    <hr>
    <div class="c-alert c-alert--primary u-shadow--smooth" role="alert">
        <div class="c-alert__heading">
            <h5>Alert primary dismissable</h5>
        </div>
        <div class="c-alert__body">consectetur adipisicing elit. Eaque consequatur reiciendis suscipit inventore
            laboriosam eos voluptatum
            porro placeat modi aspernatur, necessitatibus facere corrupti obcaecati tenetur delectus? In ea recusandae
            quo?</div>
        <p class="c-alert__footer">
            lorem psum dolor sit amet, consectetur adipisi
        </p>
        <div class="c-alert__close">
            <input type="checkbox" onClick="this.parentNode.parentNode.classList.toggle('c-alert--dismissed')"
                id="c-alert--primary"><label for="c-alert--primary">&times;</label>
        </div>
    </div>
    <div class="c-alert c-alert--secondary" role="alert">
        <div class="c-alert__heading">
            <h5>Alert secondary / disabled</h5>
        </div>
        <div class="c-alert__body">consectetur adipisicing elit. Eaque consequatur reiciendis suscipit inventore
            laboriosam eos voluptatum
            porro placeat modi aspernatur, necessitatibus facere corrupti obcaecati tenetur delectus? In ea recusandae
            quo?</div>
        <div class="c-alert__footer">
            lorem psum dolor sit amet, consectetur adipisi
        </div>
    </div>
    <div class="c-alert c-alert--danger c-alert--rounded" role="alert">
        <div class="c-alert__heading">
            <h5>Alert danger/error - no footer</h5>
        </div>
        <p class="c-alert__body">consectetur adipisicing elit. Eaque consequatur reiciendis suscipit inventore
            laboriosam eos voluptatum
            porro placeat modi aspernatur, necessitatibus facere corrupti obcaecati tenetur delectus? In ea recusandae
            quo?</p>
        <div class="c-alert__close">
            <input type="checkbox" onClick="this.parentNode.parentNode.classList.toggle('c-alert--dismissed')"
                id="c-alert--danger"><label for="c-alert--danger">&times;</label>
        </div>
    </div>
    <div class="c-alert c-alert--warning" role="alert">
        <div class="c-alert__heading">
            <h5>Alert warning</h5>
        </div>

        <footer class="c-alert__footer">
            lorem psum dolor sit amet, consectetur adipisi
        </footer>
        <div class="c-alert__close">
            <input type="checkbox" onClick="this.parentNode.parentNode.classList.toggle('c-alert--dismissed')"
                id="c-alert--warning"><label for="c-alert--warning">&times;</label>
        </div>
    </div>
    <div class="c-alert c-alert--success" role="alert">
        <div class="c-alert__heading">
            <h5>Alert success</h5>
        </div>
        <p class="c-alert__body">consectetur adipisicing elit. Eaque consequatur reiciendis suscipit inventore
            laboriosam eos voluptatum
            porro placeat modi aspernatur, necessitatibus facere corrupti obcaecati tenetur delectus? In ea recusandae
            quo?</p>
        <footer class="c-alert__footer">
            lorem psum dolor sit amet, consectetur adipisi
        </footer>
        <div class="c-alert__close">
            <input type="checkbox" onClick="this.parentNode.parentNode.classList.toggle('c-alert--dismissed')"
                id="c-alert--success"><label for="c-alert--success">&times;</label>
        </div>
    </div>
    <div class="c-alert c-alert--info" role="alert">
        <div class="c-alert__heading">
            <h5>Alert info</h5>
        </div>
        <p class="c-alert__body">consectetur adipisicing elit. Eaque consequatur reiciendis suscipit inventore
            laboriosam eos voluptatum
            porro placeat modi aspernatur, necessitatibus facere corrupti obcaecati tenetur delectus? In ea recusandae
            quo?</p>
        <footer class="c-alert__footer">
            lorem psum dolor sit amet, consectetur adipisi
        </footer>
        <div class="c-alert__close">
            <input type="checkbox" onClick="this.parentNode.parentNode.classList.toggle('c-alert--dismissed')"
                id="c-alert--info"><label for="c-alert--info">&times;</label>
        </div>
    </div>
</section>
