<section class="c-section">
    <h2>Labels</h2>
    <span class="c-label c-label--primary">Primary</span>
    <span class="c-label c-label--secondary">Secondary</span>
    <span class="c-label c-label--success">Success</span>
    <span class="c-label c-label--danger">Danger</span>
    <span class="c-label c-label--warning">Warning</span>
    <span class="c-label c-label--info">Info</span>
    <span class="c-label c-label--light">Light</span>
    <span class="c-label c-label--dark">Dark</span>
    <span class="c-label c-label--primary c-label--rounded">Rounded</span>
    <hr>
    <p>
        <button type="button" class="c-button c-button--primary">
            Profile <span class="c-label c-label--light">9</span>
            <span class="sr-only">unread messages</span>
        </button>
    </p>
</section>