<section class="c-section">
    <h2>Dropdown</h2>
    <div class="c-dropdown c-dropdown--bottom">
        <input type="checkbox" class="c-dropdown__toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
        <label class="c-button c-button--primary" for="dropdownMenu1" data-toggle="dropdown">Dropdown Bottom<span class="c-caret c-caret--bottom"></span></label>

        <ul class="c-dropdown__menu" aria-labelledby="dropdownMenu1">
          <li><a href="#0">Action</a></li>
          <li><a href="#0">Another action</a></li>
          <li><a href="#0">Something else here</a></li>
          <li role="separator" class="c-separator"></li>
          <li><a href="#0">Separated link</a></li>
        </ul>
    </div>
    <div class="c-dropdown c-dropdown--top">
        <input type="checkbox" class="c-dropdown__toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true">
        <label class="c-button c-button--primary" for="dropdownMenu2" data-toggle="dropdown">Dropdown Top<span class="c-caret c-caret--top"></span></label>

        <ul class="c-dropdown__menu" aria-labelledby="dropdownMenu2">
          <li><a href="#0">Action</a></li>
          <li><a href="#0">Another action</a></li>
          <li><a href="#0">Something else here</a></li>
          <li role="separator" class="c-separator"></li>
          <li><a href="#0">Separated link</a></li>
        </ul>
    </div>
    <div class="c-dropdown c-dropdown--right">
        <input type="checkbox" class="c-dropdown__toggle" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true">
        <label class="c-button c-button--primary" for="dropdownMenu3" data-toggle="dropdown">Dropdown Right<span class="c-caret c-caret--right"></span></label>

        <ul class="c-dropdown__menu" aria-labelledby="dropdownMenu3">
          <li><a href="#0">Action</a></li>
          <li><a href="#0">Another action</a></li>
          <li><a href="#0">Something else here</a></li>
          <li role="separator" class="c-separator"></li>
          <li><a href="#0">Separated link</a></li>
        </ul>
    </div>
    <div class="c-dropdown c-dropdown--left">
        <input type="checkbox" class="c-dropdown__toggle" id="dropdownMenuSampleLeft" data-toggle="dropdown" aria-haspopup="true">
        <label class="c-button c-button--primary" for="dropdownMenuSampleLeft" data-toggle="dropdown"><span class="c-caret c-caret--left"></span>Dropdown Left</label>

        <ul class="c-dropdown__menu" aria-labelledby="dropdownMenuSampleLeft">
          <li><a href="#0">Action</a></li>
          <li><a href="#0">Another action</a></li>
          <li><a href="#0">Something else here</a></li>
          <li role="separator" class="c-separator"></li>
          <li><a href="#0">Separated link</a></li>
        </ul>
    </div>
</section>
