<section class="c-section">
    <h2>Masonry</h2>
    <div class="c-masonry">
        <div class="c-masonry__item">
            <img src="https://via.placeholder.com/300/" class="" height="" width="" alt="">
        </div>
        <div class="c-masonry__item">
            <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio aliquam, corrupti, quis
                rem beatae quidem, labore, aspernatur nihil distinctio fugit sint facilis sunt eius fugiat iusto
                blanditiis tenetur alias ut.</div>
        </div>
        <div class="c-masonry__item">
            <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio aliquam, corrupti, quis
                rem beatae quidem, labore, a ut.</div>
        </div>
        <div class="c-masonry__item">
            <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Op.</div>
        </div>
        <div class="c-masonry__item">
            <img src="https://via.placeholder.com/300x600" class="" height="" width="" alt="">
        </div>
        <div class="c-masonry__item">
            <img src="https://via.placeholder.com/300x200" class="" height="" width="" alt="">
        </div>
        <div class="c-masonry__item">
            <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio aliquam, corrupti, quis
                rem beatae quidem, labore, aspernatur nihil distinctio fugit sint facilis sunt eius fugiat iusto
                blanditiis tenetur alias ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio beatae
                deserunt quisquam similique vitae hic eveniet, velit, natus unde tempora excepturi labore, veniam
                necessitatibus. Vitae, magnam sequi. Veritatis, cumque, iste?</div>
        </div>
        <div class="c-masonry__item">
            <img src="https://via.placeholder.com/700x200" class="" height="" width="" alt="">
        </div>
        <div class="c-masonry__item">
            <img src="https://via.placeholder.com/350x300" class="" height="" width="" alt="">
        </div>
        <div class="c-masonry__item">
            <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio aliquam, corrupti, quis
                rem beatae quidem, labo?</div>
        </div>
        <div class="c-masonry__item">
            <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio aliquam, corrupti, quis
                rem beatae quidem, la, consectetur adipisicing elit. Odio beatae deserunt quisquam similique vitae hic
                eveniet, velit, natus unde tempora excepturi labore, veniam necessitatibus. Vitae, magnam sequi.
                Veritatis, cumque, iste?</div>
        </div>
        <div class="c-masonry__item">
            <img src="https://via.placeholder.com/450x300" class="" height="" width="" alt="">
        </div>
        <div class="c-masonry__item">
            <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio aliquam, corrupti, quis
                rem beatae quidem, labore, aspernatur nihil distinctio fugit sint facilis sunt eius fam necessitatibus.
                Vitae, magnam sequi. Veritatis, cumque, iste?</div>
        </div>
        <div class="c-masonry__item">
            <img src="https://via.placeholder.com/300x100" class="" height="" width="" alt="">
        </div>
        <div class="c-masonry__item">
            <img src="https://via.placeholder.com/400x400" class="" height="" width="" alt="">
        </div>
    </div>
</section>
