<section class="c-section">
    <h2>Badges</h2>

    <p class="u-pos(relative) u-w(25) u-mr(auto)">
        Primary<span class="c-badge c-badge--primary">12</span>
    </p>
    <p class="u-pos(relative) u-w(25) u-mr(auto)">Secondary
        <span class="c-badge c-badge--secondary">Top!</span>
    </p>
    <p class="u-pos(relative) u-w(25) u-mr(auto)">Success
        <span class="c-badge c-badge--success">Discount</span>
    </p>
    <p class="u-pos(relative) u-w(25) u-mr(auto)">Danger
        <span class="c-badge c-badge--danger">50% OFF</span>
    </p>
    <p class="u-pos(relative) u-w(25) u-mr(auto)">Warning
        <span class="c-badge c-badge--warning">Warning</span>
    </p>
    <p class="u-pos(relative) u-w(25) u-mr(auto)">Info
        <span class="c-badge c-badge--info">Info</span>
    </p>
    <p class="u-pos(relative) u-w(25) u-mr(auto)">Light
        <span class="c-badge c-badge--light">Light</span>
    </p>
    <p class="u-pos(relative) u-w(25) u-mr(auto)">Dark
        <span class="c-badge c-badge--dark">Dark</span>
    </p>
    <hr>
    <p>
        <button type="button" class="c-button c-button--primary">
            Profile <span class="c-badge c-badge--warning">$99</span>
            <span class="sr-only">New price</span>
        </button>
    </p>
    <p>
        <button type="button" class="c-button c-button--primary">
            Profile <span class="c-badge c-badge--danger c-badge--float">99+</span>
            <span class="sr-only">unread messages</span>
        </button>
    </p>
</section>